@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Yanone+Kaffeesatz&display=swap');

html {
    background-color: rgba(100, 137, 197, 0.6);
    background-image: url("Images/Header Background.jpg");
    opacity: 0.85;
    background-blend-mode: multiply;
    background-size: cover; 
    font-family: Roboto Condensed;
    padding-bottom: 80px;
}

html body {
    margin: 0; 
    padding: 0; 
}

.nav ul {
    margin: 0; 
}

.nav li {
    display: inline; 
}

.nav a {
    display: inline-block;
    padding-top: 1.2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1.2em; 
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: larger;
    font-weight: lighter;
    border-bottom: 1px solid #FFFAFA;
}

.nav a:hover {
    background-color: #CBC3E3;
    font-weight: bold;
    color: black;
}

.header {
    color: #CBC3E3;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 35px;
}

.purple {
    position: absolute;
    margin-top: 0.5cm; 
    margin-left: 20cm;
    width: 8cm; 
    height: 0.7cm; 
}

.dark-purple {
    position: absolute; 
    margin-top: 0.5cm; 
    margin-left: 27cm;
    width: 4cm; 
    height: 0.7cm;
}

.skills {
    margin-left: 55%;
    font-size: larger;
    position: absolute;
    margin-top: 0.56cm; 
    color: #CBC3E3;
}

.percent {
    margin-left: 88.5%;
    font-size: larger;
    position: absolute;
    margin-top: 0.56cm; 
    color: #CBC3E3;
}

.purple-2 {
    position: absolute;
    margin-top: 2.5cm; 
    margin-left: 20cm;
    width: 9cm; 
    height: 0.7cm; 
}

.dark-purple-2 {
    position: absolute; 
    margin-top: 2.5cm; 
    margin-left: 27cm;
    width: 3.95cm; 
    height: 0.7cm;
}

.skills-2 {
    margin-left: 55.5%;
    font-size: larger;
    position: absolute;
    margin-top: 2.56cm; 
    color: #CBC3E3;
}

.percent-2 {
    margin-left: 88.5%;
    font-size: larger;
    position: absolute;
    margin-top: 2.56cm; 
    color: #CBC3E3;
}

.purple-3 {
    position: absolute;
    margin-top: 4.5cm; 
    margin-left: 20cm;
    width: 5cm; 
    height: 0.7cm; 
}

.dark-purple-3 {
    position: absolute; 
    margin-top: 4.5cm; 
    margin-left: 25cm;
    width: 5.92cm; 
    height: 0.7cm;
}

.skills-3 {
    margin-left: 52%;
    font-size: larger;
    position: absolute;
    margin-top: 4.56cm; 
    color: #CBC3E3;
}

.percent-3 {
    margin-left: 88.5%;
    font-size: larger;
    position: absolute;
    margin-top: 4.56cm; 
    color: #CBC3E3;
}

.purple-4 {
    position: absolute;
    margin-top: 6.5cm; 
    margin-left: 20cm;
    width: 8.5cm; 
    height: 0.7cm; 
}

.dark-purple-4 {
    position: absolute; 
    margin-top: 6.5cm; 
    margin-left: 28.5cm;
    width: 2.4cm; 
    height: 0.7cm;
}

.skills-4 {
    margin-left: 54%;
    font-size: larger;
    position: absolute;
    margin-top: 6.56cm; 
    color: #CBC3E3;
}

.percent-4 {
    margin-left: 88.5%;
    font-size: larger;
    position: absolute;
    margin-top: 6.56cm; 
    color: #CBC3E3;
}

.purple-5 {
    position: absolute;
    margin-top: 8.5cm; 
    margin-left: 20cm;
    width: 9cm; 
    height: 0.7cm; 
}

.dark-purple-5 {
    position: absolute; 
    margin-top: 8.5cm; 
    margin-left: 27cm;
    width: 3.95cm; 
    height: 0.7cm;
}

.skills-5 {
    margin-left: 55%;
    font-size: larger;
    position: absolute;
    margin-top: 8.56cm; 
    color: #CBC3E3;
}

.percent-5 {
    margin-left: 88.5%;
    font-size: larger;
    position: absolute;
    margin-top: 8.56cm; 
    color: #CBC3E3;
}

.photo {
    width: 6cm; 
    height: 6cm;
    margin-left: 5cm;
    margin-top: 0.5cm;
    margin-bottom: 0;
}

.tagline {
    color: #CBC3E3;
    font-family: Roboto Condensed;
    margin-left: 6.2cm;
    margin-top: 0.3cm;
    margin-bottom: 0;
}

.para {
    color: #CBC3E3;
    width: 8cm; 
    text-align:center;
    margin-left: 4.1cm;
    margin-top: 0.3cm;
}
